@import "compass/reset";
@import "lib/bootstrap";
@import "compass/css3";

$color-dairy:           #8dc1cf;
$color-dairy-text:      #019ec7;
$color-fruits:          #fae500;
$color-fruits-text:     #fc9d05;
$color-grains:          #f39d8c;
$color-grains-text:     #e64469;
$color-label:           #000000;
$color-label-text:      #ffffff;
$color-meat:            #ec5a87;
$color-meat-text:       #c21565;
$color-nuts:            #f8bf00;
$color-nuts-text:       #c87121;
$color-oils:            #9a599d;
$color-oils-text:       #4c416c;
$color-selected:        #000000;
$color-vegetable:       #b2d59d;
$color-vegetable-text:  #449666;

$dimension-label-height:        40px;
$dimension-label-font-size:     20px;
$dimension-category-height:     35px;
$dimension-category-font-size:  13px;


#UserInput {
  fieldset {
    legend {
      font-size: 1.25em;
      text-align: center;
    }
    &.dairy legend {
      background-color: $color-dairy;
      color: $color-dairy-text;
    }
    &.fruits legend {
      background-color: $color-fruits;
      color: $color-fruits-text;
    }
    &.grains legend {
      background-color: $color-grains;
      color: $color-grains-text;
    }
    &.meat legend {
      background-color: $color-meat;
      color: $color-meat-text;
    }
    &.nuts legend {
      background-color: $color-nuts;
      color: $color-nuts-text;
    }
    &.oils legend {
      background-color: $color-oils;
      color: $color-oils-text;
    }
    &.vegetables legend {
      background-color: $color-vegetable;
      color: $color-vegetable-text;
    }
  }
}